body{
    background-color: #1e2836;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.generateText{
    color: #fdfeff;
    margin-bottom: 1px;
}

.mainBox{
    margin-top: 100px;
    border: 2px;
    border-color: aqua;
    border-radius: 10px;
    border-style: solid;
    padding: 30px;
}

.randomPasswordText{
    color: #4fde8a;
    margin-top: 1px;
    margin-bottom: 15px;
}

.paragraphText{
    color: #c7ccd5;
    margin-top: 3px;
}

.generateButton{
    background-color: #0eba81;
    color: #a1f2da;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 3px;
    font-size: small;
}
.generateButton:hover{
    background-color:#0c9e6e;
}
.generateButton:active{
    background-color: #0c9e6e;
    box-shadow: 0 3px #665;
    transform: translateY(2px);
}

.dividingLine{
    background-color: #27354a;
    height: 2px;
    width: 325px;
}


.passwordSpace{
    height: 30px;
    width: 200px;
    background-color: #27354a;
    color: #0eba81;
    font-size: medium;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-top: 4px;
}

.passwordSpace:hover{
    color: #0a885e;
}


.passwordsBox{
    display: flex;
    justify-content: center;
}

.Buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.lengthButton{
    border: 0;
    border-radius: 5px;
    background-color: #27354a;
    color: #a1f2da;
    height: 30px;
    width: 40px;
}

.lengthButton:hover{
    background-color: #31445e;
}

.lengthButton:active{
    background-color: #31445e;
    box-shadow: 0 2px #665;
    transform: translateY(1px);
}

.passLength{
    color: #d8dbdf;;
}

.passwordHistory{
    color: #e5e7e8;
    text-align: center;
}